@import 'variables';

.container {
  margin-left: 40px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  >.avatarWrapper {
    margin-right: 10px;
  }
}

.name {
  margin-right: 10px;
  color: white;
  opacity: .75;
  transition: opacity .3s;

  &:hover {
    opacity: 1;
  }
}

.arrowLinkWrapper {
  >.arrow {
    fill: white;
    cursor: pointer;
    transform: rotateZ(0deg);
    transition: transform .3s;

    &.open {
      transform: rotateZ(180deg);
    }
  }
}
