@import 'variables';

.menu {
  width: 160px;
  position: absolute;
  right: 3px;
  top: 40px;
  border-top: $lightGray2Border;
  border-right: $lightGray2Border;
  border-left: $lightGray2Border;
  border-radius: 3px;
  opacity:0;
  transition: all 0.2s;
  display:none;

  &.open {
    animation: $animation-menu-open;
    opacity:1;
    display:block;
  }
}

.menuItem {
  padding: 15px 20px;
  border-bottom: $lightGray2Border;
  background-color: #fff;

  >a {
    color: $colorGray;
    transition: color .3s;

    &:hover {
      color: $colorLightSkyBlue;
    }
  }
}
