@import 'variables';

.avatar{
  border: 1px solid white;
  border-radius: 100%;
  background-color: $colorGreen;
  color: white;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  font-size: 10px;
  letter-spacing: 1px;
  position:relative;
}

//firefox avatar letters look off centered fix
@-moz-document url-prefix() {
  .m-avatar{
    padding-top: 2px;
    padding-left: 1px;
  }
}

.hoverBox{
  display:none;
  position:absolute;
  top:34px;
  // left:15px;
  right:0px;
  color:$colorGray;
  font-size: 14px;
  letter-spacing: 0px;
  background-color:white;
  border:$lightGray2Border;
  border-radius:3px;
  padding: 5px 10px 5px 10px;
  z-index: 99;
  // transform: translateX(-50%);
  p{
    white-space: nowrap;
    margin:0;
  }

  .hover &{
    display:block;
  }
}
